@using System.Web.Optimization
@{
    ViewBag.Title = "用户列表";
    ViewBag.TitleSmall = "";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("用户管理", "", "fa-dashboard"),
        new Crumb("用户列表", "", "")
    });
}
@Styles.Render("~/dataTables/css")
<div class="tab-content panel panel-default">
    <div class="panel-body active table-responsive">
        <table id="tb_accountList" class="table table-bordered table-hover dataTable" style="overflow-x: scroll; width: 1300px;">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>标题</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
@Scripts.Render("~/dataTables/js")
<script type="text/javascript">
    $(function () {
        var grid = new initDataTables();
        grid.init({
            src: $("#tb_accountList"),
            dataTable: {
                "sAjaxSource": "@Url.Action("AjaxAccountList", "Account")", // get地址
            //向服务器传额外的参数
            "fnServerParams": function (aoData) {
                aoData.push(
                    //{ "name": "tab", "value": $("#navTab").val() }
                ); //查询内容
            },
            //配置列要显示的数据
            columns: [
                //对应上面thead里面的序列 ;字段名字和返回的json序列的key对应
                { "data": "Id" },
                { "data": "Name" },
                { "data": "UserName" }
            ],
            //按钮列
            "columnDefs": [
                {
                    "render": function (data, type, row, me) {
                        return me.settings._iDisplayStart + me.row + 1;
                    },
                    "targets": 0
                },
                //{
                //    "render": function (data, type, row, me) {
                //        var opt = "";
                //        opt += '<a href="/Task/TaskEdit/' + data + '" class="btn default btn-xs green" title="编辑"><i class="fa fa-edit"></i>编辑</a>';
                //        opt += '<a href="/Task/TaskView/' + data + '" class="btn default btn-xs green" title="查看详情"><i class="fa fa-eye"></i>查看详情</a>';
                //        if (row.is_reminder == 0 && $("#navTab").val() == "1") {
                //            opt += '<a href="###" data-value="' + data + '" class="btn default btn-xs green reminder" title="催单"><i class="fa fa-legal"></i>催单</a>';
                //        }
                //        return opt;
                //    },
                //    'orderable': false,
                //    'class': "hidden",
                //    "targets": 2
                //}
            ]
        }
        });
    //搜索
    $("#btnsearch").click(function () {
        grid.submitFilter();
    });

    })
</script>

