@model EventCloud.Web.Models.Account.TenantSelectionViewModel
@{
    ViewBag.Title = "Select Tenant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Tenant selection</h4>

<p>TODO: TENANT SELECTION</p>